@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/*////////////////////////////////////////////*/


/* U+00a0 CARACTERE INVALIDO INVISIVEL PRA TEXTO*/


/*////////////////////////////////////////////*/


/*////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* cores dos textos */

h1,
h2,
p {
    color: #26272b;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: url(fundo-body.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /*-- tentar: background-repeat: no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
}


/*/////////////////////////////////////////////*/

main {
    margin: 0;
    padding: 0;
}

.box-sobre-nos {
    border-radius: 10px;
    margin: 200px 40px 50px 40px;
    padding: 20px;
    background-color: #fa97ad80;
    backdrop-filter: blur(10px)
}

.texto-sobre {
    flex-direction: column;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.texto-sobre h1::after {
    content: '';
    width: 200px;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #c44863;
}

.texto-sobre h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    font-size: 50px;
    padding: 30px 0;
}

.texto-sobre h1::before {
    content: '';
    width: 200px;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #c44863;
}

.texto-sobre p {
    text-align: center;
    padding: 30px;
    display: block;
    font-size: 20px;
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
    align-items: center;
    font-weight: 500;
}
