@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* #ca3b5a  cor das letras principais  */


/* #ca3b5a  cor do hover das letras  principais  */

body {
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    /*-- tentar: background-repeat: no-repeat;*/
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.hidden-scrolling {
    overflow-y: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container-01 {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* ///////////                  CABEÇALHO                ///////////  */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    /* sempre menor 99*/
    padding: 15px 0px;
    /*espaçamento externo do cabeçalho geral */
}

.header-main {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    /* espaçamento interno do cabeçalho */
    border-radius: 10px;
    border: 2px solid #c44863;
}

.header .logo {
    padding: 0 15px;
    /* espaçamento interno  entre o logo e cabeçalho */
}

.header .logo a {
    font-size: 9px;
    /* tamanho da fonte do logo (letreiro) */
    font-weight: 700;
    text-transform: capitalize;
    color: #ca3b5a;
    /* cor das letras principal */
}

.header .nav-menu {
    padding: 0 15px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 18px;
    /* tamanho da fonte do cabeãlho */
    color: #ca3b5a;
    /* cor do cabeãlho */
    text-transform: capitalize;
    /* tipo de formato das letras ( A ou a)*/
    font-weight: 700;
    transition: all 0.8s ease;
}

.header .menu>.menu-item>a .plus {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
    pointer-events: none;
}

.header .menu>.menu-item>a .plus:before,
.header .menu>.menu-item>a .plus:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: #ca3b5a;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease;
}

.header .menu>.menu-item:hover>a .plus:before,
.header .menu>.menu-item:hover>a .plus:after {
    background-color: #f1d7d7;
}

.header .menu>.menu-item>a .plus:after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu>.menu-item>.sub-menu>.menu-item>a:hover,
.header .menu>.menu-item:hover>a {
    color: #FFD7E0;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.678);
    width: 220px;
    position: absolute;
    left: 0;
    top: 130%;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px 0;
    border-top: 3px solid #ca3b5a;
    transform: translateY(10px);
    transition: all 0.8s ease;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(180deg);
        /* tirar se der problema - animação nav menu*/
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ca3b5a;
    transition: all 0.8s ease;
    text-transform: none;
    /* tipo de formato das letras ( A ou a) PADRAO CAPTALIZE/*/
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #ca3b5a;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ca3b5a;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
    /* animação do sub-menu */
}

.header .open-nav-menu span:after {
    top: 7px;
    /* animação do sub-menu */
}

.header .close-nav-menu {
    height: 30px;
    /*altura do icone close para trocar*/
    width: 30px;
    /*largura do icone close para trocar*/
    margin: 0 0 50px 15px;
    /* margin do icone close */
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 50px;
    /*tamanho logo img */
}

.header .menu-overlay {
    position: fixed;
    z-index: 20;
    /* sempre maior 999*/
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////*/


/*home section*/

article {
    margin: 0;
    overflow-x: hidden;
}

.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home .slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    padding: 0 15px;
    animation: slide 3s ease-in-out;
    /*animation: slide 3s cubic-bezier(0.73, 0.06, 0, 0.94);*/
}

.home .slide.active {
    display: flex;
}

@keyframes slide {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

#container-slide {
    max-width: 100%;
    margin: auto;
}

.home .container {
    flex-grow: 1;
}

.home .caption {
    margin: 0;
    width: auto;
    /*border: 2px solid rgb(255, 125, 125);*/
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}

.home .caption h1 {
    text-align: center;
    color: #ca3b5a;
    margin: 0;
}

.home h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
}

.home .slide.active .caption h1 {
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1s;
}

.home .caption p {
    text-align: center;
    color: #ca3b5a;
    margin: 0;
}

.home .slide.active .caption p {
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1.2s;
}

.home p {
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0px;
}

.home .caption a {
    border-radius: 5px;
    border: 2px solid #ca3b5a;
    ;
    display: inline-block;
    text-decoration: none;
    color: #ca3b5a;
}

.home .slide.active .caption a {
    text-align: center;
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 1.4s;
    padding: 3px 8px;
}

.home a {
    font-size: 12px;
}

@keyframes captionText {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .controls .prev,
.home .controls .next {
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #222222;
    background-color: #b34848;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.home .controls .prev:hover,
.home .controls .next:hover {
    background-color: #000000;
    color: #b34848;
}

.home .controls .prev {
    left: 0;
}

.home .controls .next {
    right: 0;
}

.home .indicator {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 1;
    /* mudar para 2 caso de problema*/
    transform: translateX(-50%);
    cursor: pointer;
}

.indicator div {
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #000;
    background-color: rgba(243, 133, 133, 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 22.5px;
    margin: 0 3px;
}

.home .indicator div:hover {
    color: #fff;
    background-color: rgba(214, 199, 199, 0.5);
}

.home .indicator div.active {
    background-color: rgb(241, 199, 199);
}


/*responsive*/

@media screen and (max-width: 767px) {
    .controls {
        display: none;
    }
}

@media screen and (max-width: 1175px) {
    .header-main {
        border-radius: 0px;
    }
}

@media screen and (max-width: 399px) {
    .home h1 {
        font-size: 20px;
        font-weight: 700;
    }
    .home p {
        font-size: 15px;
        font-weight: 700;
    }
    .home a {
        font-size: 10px;
    }
}

@media screen and (max-width: 499px) {
    .home h1 {
        font-size: 18px;
        font-weight: 700;
    }
    .home p {
        font-size: 15px;
        font-weight: 700;
    }
    .home a {
        font-size: 10px;
    }
}

@media screen and (max-width: 699px) {
    .home h1 {
        font-size: 30px;
        font-weight: 700;
    }
    .home p {
        font-size: 16px;
        font-weight: 700;
    }
    .home a {
        font-size: 11px;
    }
}